include ../inputs/checkbox-input
mixin expandable-checkbox-list
    +b.expandable-checkbox-list
        +e.H3.heaher expandable checkbox list
        +e.BUTTON.list-opener(class= "expandable-checkbox-button-js")
        +e.list-wrapper(class= "expandable-checkbox-list-js")
            +checkbox-input('additional-comforts', 'breakfast', 'Завтрак', false)
            +checkbox-input('additional-comforts', 'table', 'Письменный стол', true)
            +checkbox-input('additional-comforts', 'children-chair', 'Стул для кормления', true)
            +checkbox-input('additional-comforts', 'children-bed', 'Кроватка', true)
            +checkbox-input('additional-comforts', 'tv','Телевизор', false)
            +checkbox-input('additional-comforts', 'shampoo', 'Шампунь', false)