include ../inputs/checkbox-input
mixin rich-checkbox-buttons
    +b.rich-checkbox-buttons
        +checkbox-input('rich-parameters', 'hallway', 'Широкий коридор', false)
        +checkbox-input('rich-parameters', 'helper', 'Помощник для инвалидов', false)
