mixin footer-copyrigth
    .footer
        .footer__copyright
            p Copyright © 2018 Toxin отель. Все права защищены.
        .footer__social
            button.footer__social-btn.footer__social-btn_twitter
            button.footer__social-btn.footer__social-btn_facebook
            button.footer__social-btn.footer__social-btn_instagram