include ./logo
include ./footer-copyrigth

mixin footer-desktop
    +b.footer-desk
        +e.__sentence
            +logo
            +e.__description-container
                +e.P.__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        +e.__navigation
            +e.H3.__navigation-title навигация
            +e.UL.__navigation-list
                +e.LI.__navigation-item О нас
                +e.LI.__navigation-item Новости
                +e.LI.__navigation-item Служба поддержки
                +e.LI.__navigation-item Услуги
        +e.__about
            +e.H3.__navigation-title о нас
                +e.UL.__navigation-list
                    +e.LI.__navigation-item О сервисе
                    +e.LI.__navigation-item Наша команда
                    +e.LI.__navigation-item Вакансии
                    +e.LI.__navigation-item Инвесторы
        +e.__support
            +e.H3.__navigation-title Служба поддержки
                +e.UL.__navigation-list
                    +e.LI.__navigation-item Соглашения
                    +e.LI.__navigation-item Сообщества
                    +e.LI.__navigation-item Связь с нами
        +e.__subscription
            +e.H3.__navigation-title Подписка
            +e.P.__subscription-description Получайте специальные предложения и новости сервиса
            +e.FORM.__subscription-form
                +e.INPUT(
                    type='email'
                    placeholder="Email"
                ).__subscription-input
                +e.INPUT(
                    type="submit"
                ).__subscription-submit
                +e.BUTTON.__button-submit
    +footer-copyrigth