mixin footer-copyrigth
    +b.footer
        +e.content
            +e.copyright
                p Copyright © 2018 Toxin отель. Все права защищены.
            +e.social
                a(href='#', target='_blank')
                    +e.BUTTON.social-btn._twitter
                a(href='#', target='_blank')
                    +e.BUTTON.social-btn._facebook
                a(href='#', target='_blank')
                    +e.BUTTON.social-btn._instagram