mixin footer-copyrigth
    +b.footer
        +e.content
            +e.copyright
                p Copyright © 2018 Toxin отель. Все права защищены.
            +e.social
                +e.BUTTON.social-btn._twitter
                +e.BUTTON.social-btn._facebook
                +e.BUTTON.social-btn._instagram