mixin footer-copyrigth
    +b.footer
        +e.__copyright
            p Copyright © 2018 Toxin отель. Все права защищены.
        +e.__social
            +e.BUTTON.__social-btn._twitter
            +e.BUTTON.__social-btn._facebook
            +e.BUTTON.__social-btn._instagram