include ./login-buttons
include ./nav-bar
include ./logo

mixin header-quest
    +b.header
        +e.content
            +logo
            +e.navigation(class = 'menu-js')
                +nav-bar
                +login-buttons
            +b.burger-menu(class = 'burger-js')
                +e.SPAN.burger