include  ../components/border-button
mixin login-buttons
    +b.header__buttons
        +e.BUTTON.__button-login войти
        +border-button
        +e.BUTTON.__button-registration зарегистрироваться