include  ../components/buttons/border-button
mixin login-buttons
    +b.header__buttons
        +e.BUTTON.__button-login войти
        +b
            +border-button('войти', 'border-button_small')
        +e.BUTTON.__button-registration зарегистрироваться