include  ../components/buttons/border-button
include  ../components/buttons/background-button

mixin login-buttons
    +b.login-buttons
        +border-button('войти', 'border-button_small')
        +background-button('зарегистрироваться', 'background-button_long')
