include  ../components/buttons/border-button
include  ../components/buttons/background-button

mixin login-buttons
    +b.login-buttons
        a(href='./sing-in.html')
            +border-button('войти', 'border-button_small')
        a(href='./registration.html')
            +background-button('зарегистрироваться', 'background-button_long')
