mixin nav-bar
    ul.header__nav-list
        li.header__item.header__item_about О нас
        li.header__item.header__item_arrow Услуги
        li.header__item Вакансии
        li.header__item Новости
        li.header__item.header__item_arrow Соглашения