@import "../../variables";
.bullet-list{
  max-width: 271px;
  ul{
    list-style-position: outside;
  }
  .item{
    margin-bottom: 10px;
    &:before{
      content: '';
      display: inline-flex;
      width: 10px;
      height: 10px;
      background: $dark-shade-25;
      border-radius: 50%;
      margin-right: 10px;
    }
    span{
      white-space: nowrap;
      margin-left: 20px;
    }

  }
}
