@import "../../../variables";
.radio-buttons{
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  &__field{
    display: none;
    &:checked + .radio-buttons__label{
      color: $dark-shade-75;
      &:after{
        transform: scale(1);
      }
      &:before{
        border-color: $purple;
      }
    }
  }
  &__label{
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: $dark-shade-50;
    transition: color 0.5s;
    &:before{
      content: "";
      cursor: pointer;
      align-self: flex-start;
      flex: 0 0 20px;
      height: 20px;
      border: 1px solid $dark-shade-25;
      border-radius: 10px;
      margin-right: 10px;
    }
    &:after{
      content: "";
      position: absolute;
      cursor: pointer;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 10px;
      transition: 0.5s;
      transform: scale(0);
    }
  }
}
