@import "../../../variables";
.toggle-button{
  &__field{
    display: none;
    &:checked + .toggle-button__label{
      &:after{
        background: linear-gradient(180deg, $purple 0%, $blue 100%);
        transform: translateX(20px);
      }
      &:before{
        border-color: $purple;
      }
    }
  }
  &__label{
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 100%;

    &:before{
      content: "";
      flex: 0 0 40px;
      height: 20px;
      background: $white;
      border: 1px solid $dark-shade-25;
      border-radius: 10px;
      margin-right: 10px;
      transition: border-color 0.5s;
    }
    &:after{
      content: '';
      position: absolute;
      left: 4px;
      width: 12px;
      height: 12px;
      background: $dark-shade-25;
      border-radius: 10px;
    }
  }
}