include ../inputs/checkbox-input
mixin checkbox-buttons
    +b.checkbox-wrapper
        +checkbox-input('smoke', 'Можно курить', false)
        +checkbox-input('pets', 'Можно с питомцами', true)
        +checkbox-input('quests', 'Можно пригласить гостей (до 10 человек)', true)