include ../inputs/checkbox-input
mixin checkbox-buttons
    +b.checkbox-wrapper
        +checkbox-input('rules', 'smoke', 'Можно курить', false)
        +checkbox-input('rules', 'pets', 'Можно с питомцами', true)
        +checkbox-input('rules', 'quests', 'Можно пригласить гостей (до 10 человек)', true)