@import "src/styles/variables";
.login-card{
  @include card-box;
  &__login-inputs{
    margin: 20px 0;
    input:first-child {
      margin-bottom: 10px;
    }
  }
  &__create{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: #000000;
    }
  }
}