@import "src/styles/variables";
.room-preview{
  width: 270px;
  height: 257px;
  background: $white;
  box-shadow: 0 10px 20px $dark-shade-5;
  border-radius: 4px;
  &__carousel{
  position: relative;
  }
  &__image{
    width: 270px;
    height: 151px;
  }
  &__wrapper{
    padding: 20px 17px;
  }
  &__description{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid $dark-shade-10;
    padding-bottom: 10px;
  }
  &__title{
    display: flex;
    align-items: flex-end;

  }
  &__char{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $dark-shade-100;
    margin-right: 3px;
    padding-bottom: 3px;
  }
  &__number{
    margin-right: 1px;
  }
  &__type{
    color: $purple;
    padding-bottom: 3px;
    text-transform: uppercase;
  }
  &__price{
    @include common-dark50;
    font-family: Montserrat-Bold, sans-serif;
    margin-right: 4px;
  }
  &__desc{
    font-size: 12px;
    padding-bottom: 1px;
    &:active{
      color: rgba(31, 32, 65, 0.75)!important;
    }
  }
  &__comment{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }
}
.custom-nav{
  width: 44px;
  height: 44px;
  background: none;
  font-size: 24px;
  line-height: 24px;
  color: $white;
}
.custom-container-nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 0;
}
.custom-dots{
  width: 7.5px;
  height: 7.49px;
  border: 1px solid $white;
  border-radius: 50%;
  box-sizing: border-box;
  background: none;
}
.custom-container-dots{
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 42px;
  height: 8px;
  display: flex;
  justify-content: space-between;
}
.active{
  background: $white;
}
.room-preview:hover .custom-container-nav{
  opacity: 1;
}