@import "src/styles/variables";
.searching-card{
  @include card-box;
  &__header{
    margin-bottom: 18px;
  }
  &__dates{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  &__guests{
    margin-bottom: 31px;
  }
}