mixin bullet-list
    +b.bullet-list
        ul
            li.item Нельзя с питомцами
            li.item Без вечеринок и мероприятий
            li.item Время прибытия — после 13:00, #[span а выезд до 12:00]
