mixin range-slider(description)
    +b.range-slider
        +e.title
            +e.H3.description= description
            +e.coast
                span#amount.example-val
        +e.slider-wrapper
            #slider-range
