.content-landing{
  width: 100%;
  background: url("../img/main-pages-backgrounds/255f6890438146aa7de26a12e25045be.png") center no-repeat;
  &__content-wrapper{
    padding: 70px 0 386px;
    margin: 0 auto;
    max-width: 1160px;
  }
}