$dark-shade-100p:  #1F2041;
$dark-shade-75:  rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$blue: #8BA4F9;
$green: #6FCF97;
$white: #FFFFFF;

@mixin common-title-h1{
  font-size: 24px;
  line-height: 29px;
  font-family: Montserrat-Bold, sans-serif;
  color: $dark-shade-100p;
}
@mixin common-title-h2{
  font-family: Montserrat-Bold, sans-serif;
  font-size: 19px;
  line-height: 23px;
  color: $dark-shade-100p;
}
@mixin common-title-h3{
  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  line-height: 15px;
  padding-top: 4px;
  color: $dark-shade-100p;
}
@mixin common-body-dark75{
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}
@mixin common-dark50 {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $dark-shade-50;
}
@mixin common-body-dark25{
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-25;
}
@mixin common-label{
  font-size: 14px;
  line-height: 18px;
  color: $dark-shade-50;
}

@mixin common-button{
  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
@mixin pagination-selected {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@mixin card-box{
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-width: 380px;
  padding: 40px 30px 30px;
}