$dark-shade-100p:  #1F2041;
$dark-shade-75:  rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

.common-title-h1{
  font-size: 24px;
  line-height: 29px;
  font-family: Montserrat-Bold, sans-serif;
  color: $dark-shade-100p;
}
.common-title-h2{
  font-family: Montserrat-Bold, sans-serif;
  font-size: 19px;
  line-height: 23px;
  color: $dark-shade-100p;
}
.common-title-h3{
  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: $dark-shade-100p;
}
.common-body-dark75{
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-75;
}
.common-dark50 {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $dark-shade-50;
}
.common-body-dark25{
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-shade-25;
}
