@import "src/styles/variables";
.registration-card{
  @include card-box;
  &__name-data{
    margin-top: 20px;
    & > input {
      margin-bottom: 10px;
    }
  }
  &__birthday-data{
    margin: 20px 0 20px;
  }
  &__registration-data{
    h3{
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    & > input {
      margin-bottom: 10px;
    }
  }
  &__accept-buttom{
    margin: 20px 0 30px ;
  }
  &__login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: #000000;
    }
  }
}