@import "src/styles/variables";
.room-card{
  @include card-box;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title{
    display: flex;
    align-items: flex-end;

  }
  &__char{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $dark-shade-100;
    margin-right: 3px;
    padding-bottom: 3px;
  }
  &__number{
    margin-right: 8px;
  }
  &__type{
    color: $purple;
    padding-bottom: 3px;
    text-transform: uppercase;
  }
  &__price{
    @include common-dark50;
    font-family: Montserrat-Bold, sans-serif;
    margin-right: 4px;
  }
  &__desc{
    font-size: 12px;
    padding-bottom: 1px;
  }
  &__dates{
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
  }
  &__guests{
    margin: 17px 0 19px;
  }
  &__cost, &__services, &__additional-services{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    span {
      max-width: 214px;
      position: relative;
    }
  }
  &__additional-services {
    margin-top: 12px;
    & > span{
      line-height: 20px;
    }
  }

  &__info:after{
    content: 'i';
    position: absolute;
    top: 0;
    right: -25px;
    width: 20px;
    height: 20px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    text-align: center;
    padding-bottom: 2px;
  }
  &__total{
    margin: 28px 0 21px;
    display: flex;
  }
  &__spase-between{
    flex: 1 1 auto;
    border-bottom: 1px dashed $dark-shade-25;
  }
}