include ../inputs/text-input
include ../buttons/long-button
mixin login
    +b.login-card
        h1 Войти
        form
            +e.login-inputs
                +text-input('text', 'email', 'Email',)
                +text-input('password', 'password', 'Пароль',)
            +long-button('войти')
        +e.create
            p Нет аккаунта на Toxin?
            a(href='./registration.html')
                +border-button('создать' ,'border-button_large')
