include ../inputs/guests-input
include ../inputs/date-input
include ../buttons/long-button

mixin room-card(number, type, price)
    +b.room-card
        +e.header
            +e.title
                +e.SPAN.char №
                +e.H1.number= number
                +e.H3.type= type
            +e
                +e.SPAN.price= price
                +e.SPAN.desc в сутки
        form
            +e.dates
                +date-input('прибытие', 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow', 'datepicker1')
                +date-input('выезд', 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow')
            +e.guests
                +guests-input('гости')
            +e.cost
                span 9 990₽ х 4 суток
                span 39 960₽
            +e.services
                +e.SPAN.info Сбор за услуги: скидка 2 179₽
                span 0₽
            +e.additional-services
                +e.SPAN.info Сбор за дополнительные услуги
                span 300₽
            +e.total
                h2 Итого
                +e.spase-between
                h2 38 081₽
            +long-button('забронировать')
