include ../inputs/date-input
include ../inputs/guests-input
include ../buttons/long-button

mixin searching
    +b.searching-card
        +e.H1.header Найдём номера под ваши пожелания
        form
            +e.dates
                +date-input('прибытие', 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow', 'datepicker1')
                +date-input('выезд', 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow')
            +e.guests
                +guests-input('гости', 'guests-dropdown-button-js')
            +long-button('подобрать номер')
