include ../inputs/interval-date-input
include ../inputs/guests-input
include ../buttons/long-button

mixin searching
    +b.searching-card
        +e.H1.header Найдём номера под ваши пожелания
        +e.dates
            +interval-date-input('прибытие', 'выезд')
        +e.guests
            +guests-input('гости')
        a(href='./search-room.html')
            +long-button('подобрать номер')
