include ../inputs/interval-date-input
include ../inputs/guests-input
include ../buttons/long-button

mixin searching
    +b.searching-card
        +e.H1.header Найдём номера под ваши пожелания
        form
            +e.dates
                +interval-date-input('прибытие', 'выезд')
            +e.guests
                +guests-input('гости', 'guests-dropdown-button-js')
            +long-button('подобрать номер')
