extends ./extend
include ../layout/head
include ../layout/components/cards/searching
include ../layout/components/cards/registration
include ../layout/components/cards/login
include ../layout/components/cards/room-card
include ../layout/components/cards/room-preview


block content
    +b.header-cards
        +head
    +b.cards-wrapper
        +e.left-block
            +e.searching
                +searching
            +e.registration
            +registration('перейти к оплате')
        +e.central-block
            +e.room
                +room-card('888', 'люкс','9 990₽')
            +e.login
                +login
        +e.rigth-block
            +room-preview('./img/rooms-previews/2510dccc3aab21597da711673f509391.png',
                './img/rooms-previews/5b146b0b02905e0f276597370834ff82.png',
                './img/rooms-previews/07382bbd82b3d15a2914108aa278b6af.png',
                './img/rooms-previews/19485bbd6d6f8fa504fa254cd3f85471.png', '888', 'люкс','9 990₽', '145', 5)
            +room-preview('./img/rooms-previews/c196edfce8e208d3d142ceb4cd85380f.png',
                './img/rooms-previews/5b146b0b02905e0f276597370834ff82.png',
                './img/rooms-previews/07382bbd82b3d15a2914108aa278b6af.png',
                './img/rooms-previews/19485bbd6d6f8fa504fa254cd3f85471.png', '840', '','9 990₽', '65', 4)

