extends ./extend

include ../layout/head


block content
    +b.head-types
        +head
    +b.wrapper-types
        +b
            +b.color-type
                +e.__example._dark-100
                +e.__description
                    +e.P.__color-name Dark Shade 100%
                    +e.P.__color-hex #1F2041
            +b.color-type
                +e.__example._dark-75
                +e.__description
                    +e.P.__color-name Dark Shade 75%
                    +e.P.__color-hex #1F2041
            +b.color-type
                +e.__example._dark-50
                +e.__description
                    +e.P.__color-name Dark Shade 50%
                    +e.P.__color-hex #1F2041
            +b.color-type
                +e.__example._dark-25
                +e.__description
                    +e.P.__color-name Dark Shade 25%
                    +e.P.__color-hex #1F2041
            +b.color-type
                +e.__example._dark-5
                +e.__description
                    +e.P.__color-name Dark Shade 5%
                    +e.P.__color-hex #1F2041
            +b.color-type
                +e.__example._purple
                +e.__description
                    +e.P.__color-name Purple
                    +e.P.__color-hex #BC9CFF
            +b.color-type
                +e.__example._green
                +e.__description
                    +e.P.__color-name Green
                    +e.P.__color-hex #6FCF97
        +b.font-type
            +e.__name
                h1 H1
            +e.__example
                h1 This one is the sub-section or widget title
            +e.__name
                h2 H2
            +e.__example
                h2 Next one is the item title inside widgets
            +e.__name
                h3 H3
            +e.__example._uppercase
                h3 This is a label or CTA text
            +e.__name
                p Body
            +e.__example._body
                p This is the body text which is used for most of the design, like paragraphs, lists, etc.


