extends ./extend

include ../layout/head
include ../layout/components/input-email
include ../layout/components/pagination
include ../layout/components/range-slider
include ../layout/components/buttons/checkbox-buttons
include ../layout/components/buttons/radio-buttons
include ../layout/components/buttons/background-button
include ../layout/components/buttons/border-button
include ../layout/components/buttons/text-button
include ../layout/components/buttons/long-button
include ../layout/components/buttons/toggle-button


block content
    +b.element-head
        +head
    +b.content
        +b.text-fields
            +b.H3.common-headers TEXT FIELD
            +input-email
        +b.checkbox-buttons
            +e.checkbox
                h3 CHECKBOX BUTTONS
                +checkbox-buttons
            +e.checkbox
                h3 RADIO-BUTTONS
                +radio-buttons
            +e.checkbox
                h3 TOGGLE
                +toggle-button('Получать спецпредложения')
        +b.buttons
            +e.button
                +range-slider('Range Slider')
            h3.button-header BUTTONS
            +e.button
                +background-button('click me')
            +e.button
                +border-button('click me')
            +e.button
                +text-button('click me')
            +e.button
                +long-button('перейти к оплате')
            +e.pagination-block
                +e.H3.pagination-title pagination
                +pagination
        +b.dropdown-right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci aliquid architecto aut cupiditate esse, explicabo id, incidunt nemo officia reprehenderit rerum sed sint tempora totam, voluptate? Accusamus alias assumenda eum illum non obcaecati perferendis perspiciatis possimus praesentium quae quasi reprehenderit sint suscipit, tempora, veniam? Ab accusamus adipisci alias amet beatae consequuntur dolor doloremque earum enim et expedita, explicabo fugit incidunt inventore, iste, iure laudantium modi molestiae molestias neque nisi numquam obcaecati quod reiciendis rem similique suscipit tempora tempore tenetur unde vel velit vitae voluptatum. Asperiores at commodi consequuntur, debitis ea laboriosam placeat sint suscipit tenetur vero voluptates voluptatum?
        +b.dropdown-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quia.
        +b.dropdown-left Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, voluptate.
        +b.comments Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quia.