extends ./extend

include ../layout/head
include ../layout/components/pagination
include ../layout/components/range-slider
include ../layout/components/bullet-list
include ../layout/components/additional-information
include ../layout/components/comment
include ../layout/components/inputs/text-input
include ../layout/components/inputs/guests-input
include ../layout/components/inputs/date-input
include ../layout/components/inputs/rooms-input
include ../layout/components/inputs/subscription-input
include ../layout/components/buttons/checkbox-buttons
include ../layout/components/buttons/radio-buttons
include ../layout/components/buttons/background-button
include ../layout/components/buttons/border-button
include ../layout/components/buttons/text-button
include ../layout/components/buttons/long-button
include ../layout/components/buttons/toggle-button
include ../layout/components/buttons/likes-button
include ../layout/components/buttons/rate-button
include ../layout/components/checkboxes/rich-checkbox-buttons
include ../layout/components/checkboxes/expandable-checkbox-list



block content
    +b.element-head
        +head
    +b.content
        +b.text-fields
            +e.input-block
                +e.H3.common-headers TEXT FIELD
                +text-input('email', 'email', 'Email',)
            +e.input-block
                +e.H3.common-headers Dropdown
                +guests-input
            +e.input-block
                +date-input('masked text field')
            +e.input-block_duble-date
                +date-input('date Dropdown')
                +date-input('date Dropdown')
            +e.input-block
                +e.H3.common-headers dropdown
                +rooms-input
            +b.subscription-ui
                +e.H3.common-headers subscription text field
                +subscription-input
        +b.checkbox-buttons
            +e.checkbox
                h3 CHECKBOX BUTTONS
                +checkbox-buttons
            +e.checkbox
                h3 RADIO-BUTTONS
                +radio-buttons
            +e.checkbox
                h3 Toggle
                +toggle-button('Получать спецпредложения')
            +e.checkbox
                h3 like button
                +e.likes
                    +likes-button(2, false)
                    +likes-button(12, true)
            +e.checkbox
                h3 rate button
                +e.rating
                    +rate-button(4)
                    +rate-button(5)
        +b.buttons
            +e.button
                +range-slider('Range Slider')
            h3.button-header BUTTONS
            +e.button
                +background-button('click me')
            +e.button
                +border-button('click me', 'border-button_large')
            +e.button
                +text-button('click me')
            +e.button
                +long-button('перейти к оплате')
            +e.pagination-block
                +e.H3.pagination-title pagination
                +pagination
        +b.dropdown-right
            +expandable-checkbox-list
            +e.additional-info
                +additional-information('comfort.svg', 'Комфорт', 'Шумопоглощающие стены')
                +additional-information('convenience.svg', 'Удобство', 'Окно в каждой из спален')
                +additional-information('cosiness.svg', 'Уют', 'Номер оснащён камином')
        +b.dropdown-center
            h3 rich Checkbox Buttons
            +rich-checkbox-buttons
        +b.dropdown-left
            h3 bullet list
            +bullet-list
        +b.comments
            +comment('murad-avatar.jpg', 'Мурад Сарафанов','5 дней назад',
                'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. ' +
                'И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не ' +
                'жаловался из соседей.',
                '12', true)