extends ./extend

include ../layout/head
include ../layout/components/input-email
include ../layout/components/pagination
include ../layout/components/range-slider
include ../layout/components/buttons/checkbox-buttons
include ../layout/components/buttons/radio-buttons
include ../layout/components/buttons/background-button
include ../layout/components/buttons/border-button
include ../layout/components/buttons/text-button
include ../layout/components/buttons/long-button
include ../layout/components/buttons/toggle-button
include ../layout/components/buttons/likes-button
include ../layout/components/buttons/rate-button
include ../layout/components/checkboxes/rich-checkbox-buttons
include ../layout/components/checkboxes/expandable-checkbox-list
include ../layout/components/bullet-list


block content
    +b.element-head
        +head
    +b.content
        +b.text-fields
            +b.H3.common-headers TEXT FIELD
            +input-email
        +b.checkbox-buttons
            +e.checkbox
                h3 CHECKBOX BUTTONS
                +checkbox-buttons
            +e.checkbox
                h3 RADIO-BUTTONS
                +radio-buttons
            +e.checkbox
                h3 Toggle
                +toggle-button('Получать спецпредложения')
            +e.checkbox
                h3 like button
                +e.likes
                    +likes-button(2, false)
                    +likes-button(12, true)
            +e.checkbox
                h3 rate button
                +e.rating
                    +rate-button(4)
                    +rate-button(5)
        +b.buttons
            +e.button
                +range-slider('Range Slider')
            h3.button-header BUTTONS
            +e.button
                +background-button('click me')
            +e.button
                +border-button('click me')
            +e.button
                +text-button('click me')
            +e.button
                +long-button('перейти к оплате')
            +e.pagination-block
                +e.H3.pagination-title pagination
                +pagination
        +b.dropdown-right
            +expandable-checkbox-list
        +b.dropdown-center
            h3 rich Checkbox Buttons
            +rich-checkbox-buttons
        +b.dropdown-left
            h3 bullet list
            +bullet-list
        +b.comments Lorem ipsum dolor sit amet,