extends ./extend

include ../layout/header-and-footer/header-guest
include ../layout/head
include ../layout/header-and-footer/header-registered-user
include ../layout/header-and-footer/footer-decktop
include ../layout/header-and-footer/footer-mobile

block content
        +b.header-and-footer
            +e.__head
                +head
            +header-quest
            +e.__registered
                +header-registered
            +footer-desktop
            +e.__footer-mobile
                +footer-mobile
