extends extend

block content
    ul
        li: a(href='./header-and-footer.html', target='_blank') Header and footer
        li: a(href='./colors-and-types.html', target='_blank') Colors and types
        li: a(href='./form-elements.html', target='_blank') Form elements
        li: a(href='./cards.html', target='_blank') Cards
        li: a(href='./registration.html', target='_blank') Registration
        li: a(href='./sing-in.html', target='_blank') Sing-in
        li: a(href='./landing-page.html', target='_blank') Landing-page