extends ./extend
include ../layout/header-and-footer/header-guest
include ../layout/header-and-footer/footer-decktop
include ../layout/components/cards/registration

block content
    +header-quest
    +b.content-registration
        +registration('зарегистрироваться')
    +footer-desktop
