extends ./extend
include ../layout/header-and-footer/header-guest
include ../layout/header-and-footer/footer-decktop
include ../layout/header-and-footer/footer-mobile
include ../layout/components/cards/room-card
include ../layout/components/additional-information
include ../layout/components/comment
include ../layout/components/bullet-list

block content
    +header-quest
    +b.content-room
        +e.images
            +e.image-wrap
                +e.IMG(src='./img/rooms-previews/2510dccc3aab21597da711673f509391.png').image
            +e.image-wrap
                +e.IMG(src='./img/rooms-previews/details-1.png').image
            +e.image-wrap
                +e.IMG(src='./img/rooms-previews/details-2.png').image
        +e.about-wrapper
            +e.about
                +e.information
                    +e.additional-information
                        h2 Сведения о номере
                        +additional-information('comfort.svg', 'Комфорт', 'Шумопоглощающие стены')
                        +additional-information('convenience.svg', 'Удобство', 'Окно в каждой из спален')
                        +additional-information('cosiness.svg', 'Уют', 'Номер оснащён камином')
                    +e.impressions
                        h2 Впечатления от номера
                        +e.impressions-grafic
                            +e.grafic
                                +e.CANVAS.canvas(width = '120' height = '120')
                                +e.H3.count 260
                                +e.H3.voices голосов
                            +e.grafic-description
                                +e.UL.grafic-list
                                    +e.LI.grafic-item._great Великолепно
                                    +e.LI.grafic-item._good Хорошо
                                    +e.LI.grafic-item._satisfyingly Удовлетворительно
                                    +e.LI.grafic-item._disappoint Разочарован
                +e.comments
                    +e.comment-title
                        h2 Отзывы посетителей номера
                        span 2 отзыва
                    +e.comments-wrapper
                        +comment('murad-avatar.jpg', 'Мурад Сарафанов','5 дней назад',
                            'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. ' +
                            'И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не ' +
                            'жаловался из соседей.',
                            '12', true)
                        +comment('patrisia.png', 'Патрисия Стёклышкова','Неделю назад',
                            'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер ' +
                            'советую заказать, каждый день новое блюдо и десерт как комплимент',
                            '2', false)
                +e.ruels
                    +e.bullet
                        +e.H2.ruels-title Правила
                        +bullet-list
                    +e.cancel
                        +e.H2.ruels-title Отмена
                        p Бесплатная отмена в течение 48 ч. После этого при отмене не
                             | позднее чем за 5 дн. до прибытия вы получите полный возврат за
                             |вычетом сбора за услуги.
            +e.room-card
                +room-card('888', 'люкс','9 990₽')
    +b.adaptive-footer-desk
        +footer-desktop
    +b.adaptive-footer-mobile
        +footer-mobile
