extends ./extend
include ../layout/header-and-footer/header-guest
include ../layout/header-and-footer/footer-decktop
include ../layout/components/cards/login

block content
    +header-quest
    +b.content-singin
        +login
    +footer-desktop
