@import "../../../variables";

.text-input{
  width: 100%;
  height: 44px;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  padding: 0 15px;
  @include common-body-dark75;
  &::placeholder{
    color: $dark-shade-25;
  }
  &:hover, &:focus{
    @include common-body-dark75;
    border: 1px solid $dark-shade-50;
    &::placeholder{
       color: $dark-shade-75;
    }
  }
}