@import "../../../variables";
.guests-input{
  position: relative;
  &__input {
    width: 100%;
    height: 44px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    padding: 0 15px;
    @extend .common-body-dark75;
    &:hover, &:focus{
      border: 1px solid $dark-shade-50;
    }
    &_width{

    }
  }
  &__dropdown-button{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background: url("../img/arrow-down.svg") no-repeat center;
    transform: rotateX(180deg);
  }
  &__dropdown-feld{
    display: flex;
    justify-content: space-between;
    border: 1px solid $dark-shade-50;
    box-shadow: 0 10px 20px $dark-shade-5;
    padding: 7px 7px 13px 15px;
  }
  &__type{
    margin-bottom: 19px;
    text-transform: uppercase;
  }
  &__controller-wrapper{
    width: 92px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button{
    width: 30px;
    height: 30px;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    background: none;
  }
  &__amount{
    padding-top: 2px;
  }
}
