@import "../../variables";
.range-slider{
  max-width: 266px;
  text-align: end;
  &__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }
  &__description{
    text-transform: uppercase;
  }
}
.example-val{
  font-size: 12px;
  line-height: 15px;
  color: $dark-shade-50;
}

.custom-slider {
  background: $white;
  border-radius: 3px;
  border: 1px solid $dark-shade-25;
  max-width: 266px;
  height: 6px;
}
.custom-handle{
  position: absolute;
  top: -4px;
  width: 12px!important;
  height: 12px!important;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}
.custom-range{
  height: 6px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
  top: -1px;
}
