mixin date-input(title, placeholder, size, withArrow, datepicker)
    +b.date-input
        +e.H3.title= title
        +e.INPUT(
            type='text'
            placeholder= placeholder
            name='date'
        ).input(class = size, id=datepicker)
        +e.BUTTON.dropdown-button(class= withArrow)
