mixin guests-input
    +b.guests-input
        +e.INPUT(
            type='text'
            value='Сколько гостей'
            name='guests'
            readonly
        ).input
        +e.BUTTON.dropdown