mixin guests-input(title, adult, children, baby)
    +b.guests-input(class= "guests-block-js")
        +e.H3.header= title
        +b.iqdropdown(class = "guests-input-js")
            p.iqdropdown-selection
            .iqdropdown-menu
                .iqdropdown-menu-option(class = 'quest-count' data-id = "adult" data-defaultcount= adult)
                    .block
                        p.iqdropdown-item взрослые
                .iqdropdown-menu-option(class = 'quest-count' data-id = "children" data-defaultcount= children)
                    .block
                        p.iqdropdown-item дети
                .iqdropdown-menu-option(class = 'quest-count' data-id = "baby" data-defaultcount= baby)
                    .block
                        p.iqdropdown-item младенцы
                +b.command-wrapper
                    +e.BUTTON.clean(class = "quest-clean-js") очистить
                    +e.BUTTON.accept(class = "quest-accept-js") применить

