mixin guests-input(width)
    +b.guests-input
        +e.INPUT(
            type='text'
            value='Сколько гостей'
            name='guests'
            readonly
        ).input
        +e.BUTTON.dropdown-button
        +e.dropdown-feld
            +e.type-wrapper
                +e.H3.type взрослые
                +e.H3.type дети
                +e.H3.type младенцы
            +e.controllers
             +e.controller-wrapper
                +e.BUTTON.button._less
                +e.H3.amount 0
                +e.BUTTON.button._more._active
             +e.controller-wrapper
                 +e.BUTTON.button._less
                 +e.H3.amount 0
                 +e.BUTTON.button._more._active
             +e.controller-wrapper
                 +e.BUTTON.button._less
                 +e.H3.amount 0
                 +e.BUTTON.button._more._active