mixin guests-input(title)
    +b.guests-input(class= "guests-block-js")
        +e.H3.header= title
        +b.iqdropdown(class = "guests-input-js")
            p.iqdropdown-selection
            .iqdropdown-menu
                .iqdropdown-menu-option(data-id = "adult")
                    .block
                        p.iqdropdown-item взрослые
                .iqdropdown-menu-option(data-id = "children")
                    .block
                        p.iqdropdown-item дети
                .iqdropdown-menu-option(data-id = "baby")
                    .block
                        p.iqdropdown-item младенцы
                +b.command-wrapper
                    +e.BUTTON.clean(class = "quest-clean-js") очистить
                    +e.BUTTON.accept(class = "quest-accept-js") применить

