mixin interval-date-input
    +b.interval-date-input
        +date-input('date Dropdown', 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow', 'datepicker1')
        +date-input('date Dropdown', 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow')