include ../inputs/date-input
mixin interval-date-input(firstTitle, secondTitle)
    +b.interval-date-input
        +date-input(firstTitle , 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow', "datepicker-interval")
        +date-input(secondTitle , 'ДД.ММ.ГГГГ', 'date-input_small', '_arrow', 'secondRangeInput')