mixin rooms-input
    +b.rooms-input
        +e.INPUT(
            type='text'
            value='2 спальни, 2 кровати...'
            name='rooms'
            readonly
        ).input
        +e.BUTTON.dropdown