.expandable-checkbox-list{
  display: flex;
  justify-content: space-between;
  max-width: 266px;
  align-items: center;
  &__heaher{
    text-transform: uppercase;
  }
  &__list-opener{
    margin-top: 2px;
    width: 44px;
    height: 21px;
    background: url("../img/arrow-down.svg") center no-repeat;
  }
  &__list-wrapper{
  max-width: 222px;
  }
}